{{ define "server" }}
  <div class="server">
   <span class="cursiv">
    {{ .Time.Time }}
   </span>
   <p class="srv">{{ .Data }}</p>
  </div>
{{ end }}

{{ define "header" }}
  <div class="header">
    <div class="cursiv">{{ .From }} {{ .Time.Time }}
    </div>
      {{ if .IsPrivate }}
    <span class="private">PRIVATE</span>
      {{ end }}
    <div class="share" onclick="toQuote({{ .Sid }})"> ➥ </div>
    <div class="trash" onclick="deleteMessage({{ .Sid }})"> 🗑 </div>
  </div>
{{ end }}

{{ define "text" }}
  {{ $links := .LinkList }}
  <div class="inbox" id="{{ .Sid }}">
    {{ template "header" . }}
    {{ if .HasQuote }}
      {{ template "quoted" .Quoted }}
    {{ end }}
    <div class="txt">
      <pre>{{ .Data }}</pre>
    </div>
  </div>
  {{ if $links }}
    {{ template "links" $links }}
  {{ end }}
{{ end }}

{{ define "file" }}
  <div class="inbox" id="{{ .Sid }}">
  {{ template "header" . }}
   <div class="flink">
    <div class="ftxt">
     <a href="{{ .FileAddr }}" target="_blank">
      <img src="{{ .FileImage }}"/>
      {{ .Data }}
     </a>
    </div>
    <div class="fbt">
     <a href="{{ .FileAddr }}" target="_blank" download="download">
      <img src="static/img/download.png"/>
     </a>
    </div>
   </div>
  </div>
{{ end }}

{{ define "error" }}
  <div class="error">
    <p>{{ .data }}</p>
  </div>
{{ end }}

{{ define "voice" }}
  <div class="inbox" id="{{ .Sid }}">
  {{ template "header" . }}
  <audio controls src={{ .VoiceAddr }}></audio>
  </div>
{{ end }}

{{ define "quoted" }}
  <div class="quoted">
    <div class="strip"> </div>
    <div class="qbox">
      <div class="qfrom">{{ .Header }}
      </div>
      {{ if eq .Type "text" }}
        <p>{{ .Text }}
        </p>
      {{ end }}
      {{ if eq .Type "voice" }}
        <img class="qimg" src='static/img/mic.png'/>
      {{ end }}
      {{ if eq .Type "file" }}
        <img class="qimg" src='static/img/clip.png'/><span class="qfile"> {{ .Text }} </span>
      {{ end }}
    </div>
  </div>
{{ end }}

{{ define "links" }}
  <div class="links">
  {{ range . }}
    <p class="tlink"><a href='{{ .Href }}'><span>➤ </span>{{ .Title }}</a></p>
  {{ end }}
  </div>
{{ end }}
